html, body, div, span, applet, object, iframe,h1 ,h2 ,h3 ,h4 ,h5 ,h6 , p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, 
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, 
ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%:
    font: inherit;
    vertical-align: baseline;
}
html {height: 100%}
body {
    height: 100%;
    font: 14px/24px Arial, Tahoma, sans-serif;
    background-color: #ebebeb;
    text-align: center;
    font-family: sans-serif;
    margin-left: 3px;
    margin-right: 3px;
}



ol,ul {list-style: none;}
* {
    margin: 0;
    padding: 0;
    outline: none;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a, a:hover {text-decoration: none}



/*menu*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {clear:both;}

.left {float:left;}
.right {float:right;}
.text-right {text-align: right;}

.container {
    width: 100%;
    margin: 0 auto;
}
header {
    position: relative;
    padding: 10px;
    background: #3e4156;}
.logo {
    float: left;
    margin: -10px 0;
}
.nav {float: right;}
.nav li {float: left;}
.nav li a,
#touch-menu {
    display: block;
    padding: 12px 15px;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
}
.nav li a:hover,
#touch-menu:hover {background: #515572;}

#touch-menu {display: none;}

@media (max-width:768px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 50 px;
        
    }
    .nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
        
    }
    .nav li {float: none;}
    .nav li a {
        color: #666;
        border-top: 1px solid #eee;
        border-left: 3px solid transparent;
        background: #fff;
    }
    .nav li:first-child a {border-top: none;}
    .nav li a:hover {
        color: #333;
        border-left: 3px solid #515572;
        background: #f0f0f0;
    }
    #touch-menu {
        float: right;
        display: block;
        height: 50px;
        margin: -10px 0;
        
    }
}






/*services*/
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #515572;
    color: white;
}


@media (max-width:768px) {
  p {
        margin-left: 3px;
        margin-right: 3px;
    }
#background {
    margin-top: 75px;
    width: 360px;
}
}


       
    

h1 {
text-align: center;
font-family: serif;
font-weight:normal;
text-transform: uppercase;
border-bottom: lpx solid #515572;
margin-top: 30px;
}
h2 {
color: #515572;
font-size: lem;
}
h3 {
color: #d1633c;
}





#work {cursor: pointer}




.bla {
   background:rgba(255,255,255,0.5)}


@media (min-width: 500px) and (max-width: 1019px) {
.bla {
    width: 100%;
    position: relative;
    top: -200px;
    left: 20%;
    width: 500px;
}
}

@media (min-width: 1020px) and (max-width: 1269px) {
.bla {
    width: 100%;
    position: relative;
    top: -200px;
    left: 50%;
    width: 500px;
}
}

@media (min-width: 1270px) and (max-width: 1680px) {
.bla {
    width: 100%;
    position: relative;
    top: -250px;
    left: 60%;
    width: 500px;
}
}

@media (min-width: 1681px) and (max-width: 3000px) {
.bla {
    width: 100%;
    position: relative;
    top: -300px;
    left: 70%;
    width: 500px;
}
}

.button {
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 20px
}

.up {
  position: fixed;
  bottom: 0;
  right: -60px;
  width: 200px;
}